html{
    background:#3e4551;
}

body{
    margin:0;
    padding:0;
    color:#000a2b;
    font:16px/1 freesans, sans-serif;
}

a, a.visited{
    font-weight:bold;
    color:#bac5d0;
    text-decoration:none;
    -webkit-transition-property:color;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:ease-in;
    text-shadow:0px -1px 1px #000;
}

a.current, a:hover{
    color:#707d89;
    -webkit-transition-timing-function: ease-out;
}

#header_container{
    color:#fcfef8;
    margin:0 auto;
    width:680px;
    padding:2em 0;
}

#header_container em{
    font-size:4.6em;
    font-family:'Goudy Bookletter 1911';
    font-weight:none;
    font-style:normal;
    text-shadow:0px -1px 1px #000;
}

#login{
    padding-top:.6em;
    text-align:right;
    float:right;
}

#login ul{
    font-size:1.2em;
    padding:.8em 0;
    margin:0;
    list-style:none;
}

#login li{
    display:inline;
    margin:0;
    padding:0 0 0 1em;
}

#login input{
    font-size:1em;
    border:0px solid #16191a;
    background-color:#212930;
    box-shadow:0px -1px 1px #0a0b0c;
    -webkit-box-shadow:0px -1px 1px #0a0b0c;
    -moz-box-shadow:0px -1px 1px #0a0b0c;
    border-radius:.3em;
    color:#e2e5e7;
    width:8em;
}

#content_container{
    width:680px;
    margin:0em auto;
    padding:0;
    background:#f0f0f0;
    border-radius:.4em;
    -webkit-box-shadow:-1px -1px 2px #212930;
}

.post_container{
    display:block;
    min-height:220px;
    padding:1em;
}

.post_container .comments{
    display:none;
    /*
    display:block;
    padding:36px 0 12px 0;
    text-align:center;
    */
}

.post_container img{
    width:220px;
    height:200px;
    background:white;
    border:1px solid #d9e7eb;
    padding:6px;
    margin:0px 15px 5px 0;
    float:left;
}

.post_container h2, .post_container h3, .post_container p{
    margin:0;
    padding:0;
}
