@font-face {
	font-family: 'InconsolataMedium';
	src: url('/static/fonts/Inconsolata-webfont.eot');
	src: local('☺'), url('/static/fonts/Inconsolata-webfont.woff') format('woff'), url('/static/fonts/Inconsolata-webfont.ttf') format('truetype'), url('/static/fonts/Inconsolata-webfont.svg#webfontAOsRw1AW') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GoudyBookletter1911Regular';
	src: url('/static/fonts/goudy_bookletter_1911-webfont.eot');
	src: local('☺'), url('/static/fonts/goudy_bookletter_1911-webfont.woff') format('woff'), url('/static/fonts/goudy_bookletter_1911-webfont.ttf') format('truetype'), url('/static/fonts/goudy_bookletter_1911-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
    background:#3e4551;
}

body{
    margin:0;
    padding:0;
    color:#000a2b;
    color:#fcfef8;
    font:16px/1 freesans, sans-serif;
}

a, a.visited{
    font-weight:bold;
    color:#bac5d0;
    text-decoration:none;
    -webkit-transition-property:color;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:ease-in;
    text-shadow:0px -1px 1px #000;
}

a.current, a:hover{
    color:#707d89;
    -webkit-transition-timing-function: ease-out;
}

em a, em a.visited{
    font-weight:normal;
    color:inherit;
}

em a.current, em a:hover{
    color:#c2c2c2;
}

#header_container{
    color:#fcfef8;
    margin:0 auto;
    width:680px;
    padding:2em 0;
}

#header_container em{
    font-size:4.6em;
    font-family:'GoudyBookletter1911Regular';
    font-weight:none;
    font-style:normal;
    text-shadow:0px -1px 1px #000;
}

#login{
    padding-top:.6em;
    text-align:right;
    float:right;
}

#login ul{
    font-size:1.2em;
    padding:.8em 0;
    margin:0;
    list-style:none;
}

#login li{
    display:inline;
    margin:0;
    padding:0 0 0 1em;
}

#login input{
    width:8em;
}

input, textarea{
    font-size:1em;
    font-family:'InconsolataMedium', monospace;
    border:0px solid #16191a;
    background-color:#212930;
    box-shadow:0px -1px 1px #0a0b0c;
    -webkit-box-shadow:0px -1px 1px #0a0b0c;
    -moz-box-shadow:0px -1px 1px #0a0b0c;
    border-radius:.3em;
    color:#e2e5e7;
}

textarea{
    width:26em;
    height:10em;
}

dt{
    padding:1em 0;
}

#content_container{
    width:680px;
    margin:0em auto;
    padding:0;
    /*
    background:#f0f0f0;
    border-radius:.4em;
    -webkit-box-shadow:-1px -1px 2px #212930;
    */
}

.indented{
    margin-left:2em;
}

.post_container{
    display:block;
    padding:.4em;
    border-bottom:1px solid #4f5863;
    /*
    min-height:220px;
    */
}

.post_container img{
    background:white;
    border:1px solid #d9e7eb;
    padding:6px;
    margin:0px 15px 5px 0;
    float:right;
    clear:both;
}

.post_container h1, .post_container h2{
    margin:0;
    padding:0;
    display:inline;
}

.right{
    float:right;
}
