{% extends "base.html" %}

{% macro render_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class='errors'>
    {% for error in field.errors %}<li>{{ error }}{% endfor %}
</ul>
{% endif %}
</dd>
{% endmacro %}

{% block content %}
Hello there :} 
<form method='post' action='/login'>
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
    </dl>
    <p><input type='submit' value='Register'></p>
</form>
{% endblock %}
