{% extends "base.html" %}
{% block content %}
<div class='post_container'>
    {% if images %}
    <img src='/static/img/{{ images[0].filename }}'/>
    {% endif %}
    <h1><a href='{{ url_for('post_page', post_id=post.id) }}'>{{ post.title }}</a> by <a href='{{ url_for('user_page', user=post.author) }}'>{{ post.author}}</a></h1>
</div>
<div class='post_container'>
    {{ post.body|markdown }}
</div>
<div class='post_container'>
    <p style='text-align:right;'><a href='/comment/{{ post.id }}'>comment</a></p>
    {% for comment in comments %}
    <p><a href='{{ url_for('user_page', user=comment.author) }}'>{{ comment.author }}</a>: {{ comment.body }}</p>
    {% endfor %}
</div>
{% endblock %}
